<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/j5_unitTesting/src/main/java/J5/j5_unitTesting/aaaa.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="J5.j5_unitTesting.aaaa"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="j5_unitTesting"/>
</launchConfiguration>
